:root{
    --negro: #23232e;/*#2d2d2d;*/
    --grisOscuro: #4d4d66;/*#777c85;*/
    --grisClaro: #a8a8bd;/*#b3b9c5;*/
    --blanco: #ffffff;
    --rojo: #f2777a;
    --naranja: #fca369;
    --amarillo: #ffd479;
    --amarilloClaro:#ffeea6; 
    --verde: #92d192;
    --azul:#6AB0F3; 
    --azulClaro:#76d4d6; 
    --purpura:#e1a6f2; 
    --purpuraOscuro:#100713;/*#411c4b;*/
    --marron:#ac8d58; 

    --transition-speed: 600ms;
}




.negro{background-color: var(--negro);}
.grisOscuro{background-color: var(--grisOscuro);}
.risClaro{ background-color: var(--grisClaro);}
.blanco{background-color: var(--blanco);}
.rojo{ background-color: var(--rojo);}
.naranja{ background-color: var(--naranja);}
.amarillo{ background-color: var(--amarillo);}
.amarilloClaro{background-color: var(--amarilloClaro); }
.verde{background-color: var(--verde);}
.azul{background-color: var(--azul); }
.azulClaro{background-color:var(--azulClaro); }
.purpura{background-color:var(--purpura); }
.marron{background-color:var(--marron); }


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
}

nav a{
    color: var(--verde);
    padding: 14px 20px;
    text-decoration: none;
}

.logo{
    padding: 0px 30px;
}
.title{
    padding: 15px 50px;
    color: var(--verde);
}


.general{
    background-color: var(--negro);
    color: var(--blanco);
}

.card-color{
    background-color: var(--negro);
    color: var(--blanco);
}


.imagen-proyecto {
    margin-top: 10px;
    height: 128px;
    width: 128px;
    margin-left: 20px;
}

