{{ define "main" }}

<div role="main" class="section">
    <div class=" columns ">
        <div class="column is-2">
            
        </div>
        <div class="column is-8">
            <div class="">
                <div class=" column has-text-centered">
                    <h3 class="title is-4 ">Entradas</h3>
                </div>
            </div>
    
           
            {{ range (.Paginate .Site.RegularPages).Pages  }}
            <div class="column">
                <div class="card card-color">
                    <div class="card-header">
                        <p class="card-header-title is-centered">
                        {{ .Title }}
                        </p>
                    </div>
                    <div class="card-content">
                    
                    
                    <p class="content">{{ .Summary }}</p>
                    
                    
                    <a href="{{ .Permalink }}">Continuar</a>
                    </div>
                    <div class="card-footer">
                        {{ dateFormat "January 2 - 2006" .Date }}
                    </div>
                </div>
            </div>
            {{ end }}

            <div class="pagination "  role="navigation">
                <div class="column is-4">
                {{ if .Paginator.HasPrev }}
                    <a href="{{ .Paginator.Prev.URL }}" class="pagination-previous textoVerde bordeVerde">&#11013;</a>
                {{ end }}
                </div>
                <div class="column is-4">
                <span class="pagination-ellipsis textoVerde">{{ .Paginator.PageNumber }}</span>
                </div>
                <div class="column is-4">
                {{ if .Paginator.HasNext }}
                    <a href="{{ .Paginator.Next.URL }}" class="pagination-next textoVerde bordeVerde">&#10145;</a>
                {{ end }}
            </div>
            
        </div>

    </div>
</div>

{{ end }}