{{ define "main" }}

<div role="main" class="section">
    <div class=" columns ">
        <div class="column is-2">
            
        </div>
        <div class="column is-8">
            <div class="">
                <div class="column ">
                    <h3 class="title is-4">Posts</h3>
                </div>
            </div>
            
            {{ range (where (.Paginate .Site.RegularPages).Pages "Section" "posts") }}
                {{ partial "postPreview.html" . }}
            {{end}}

            <div class="pagination"  role="navigation">
                <div class="column is-4">
                {{ if .Paginator.HasPrev }}
                    <a href="{{ .Paginator.Prev.URL }}" class="pagination-previous">&#11013;</a>
                {{ end }}
                </div>
                <div class="column is-4">
                <span class="pagination-ellipsis">{{ .Paginator.PageNumber }}</span>
                </div>
                <div class="column is-4">
                {{ if .Paginator.HasNext }}
                    <a href="{{ .Paginator.Next.URL }}" class="pagination-next">&#10145;</a>
                {{ end }}
            </div>
                
            </div>
        </div>

    </div>
</div>

{{ end }}