<nav class=" ">
    
    <div class=" ">
        
        <div class=" ">
            <a class="" href="/">   
                <figure class=" image is-128x128">
                    <img class=" " src="{{ .Site.Params.UserIcon }}" width="50" height="50"alt="Brand">
                 
                </figure>
            </a>
           
        </div>
        <div class=" ">
          <a href=""  class="">  
            <h1 class=""> {{ .Site.Title }}</h1>
          </a>
        </div>
      
        
    
      </div>

      <div class=" ">
        <a href="/" class="">
          <img src="/img/disk.png" class="" alt="">
          <span class="">Home</span>  
        </a>
        <a href="/posts/" class="">
          <img src="/img/paper.png" class="" alt="">
          <span class="">Posts</span>  
        </a>
        <a href="/projects/" class="">
          <img src="/img/flami.png" class="" alt="">
          <span class="">Projects</span>  
        </a>
        <a href="/about/" class="">
          <img src="/img/gosht.png" class="" alt="">
          <span class="">About</span>  
        </a>
      </div>
      
      
</nav>



    
    