<div class="columns">
    
    <div class="column is-offset-2">
        
        <div class="mt-5">
            <a class="" href="/">   
                <figure class="image is-128x128">
                    <img class="is-rounded" src="{{ .Site.Params.UserIcon }}" width="50" height="50"alt="Brand">
                 
                </figure>
                <h1 class=" is-size-1 "> {{ .Site.Title }}</h1>
            </a>
            
           
        </div>
    </div>
    <nav class="column mt-5">
      <div class="columns is-mobile">
        <a class="column is-1" href=""></a>
        <a href="/" class="column">
          <img src="/img/disk.png" class="" alt="">
          <h1 class="">Home</h1>  
        </a>
        <a href="/posts/" class="column">
          <img src="/img/paper.png" class="" alt="">
          <h1 class="">Posts</h1>  
        </a>
        <a href="/projects/" class="column">
          <img src="/img/flami.png" class="" alt="">
          <h1 class="">Projects</h1>  
        </a>
        <a href="/about/" class="column">
          <img src="/img/gosht.png" class="" alt="">
          <h1 class="">About</h1>  
        </a>
        
      </div>

    </nav>
    <div class="column is-1"></div>
      
      
  </div>



    
    