
<div class="column">
    <div class="card card-color">
        <div class="card-header">
            <p class="card-header-title is-centered">
            {{ .Title }}
            </p>
        </div>
        <div class="card-content">
            
            <div class="">
                        
                <div class="content">
                   
                        {{ .Summary }}
                   
                </div>
                <br>
            </div>
        
            <a href="{{ .Permalink }}">Continuar</a>
        </div>
        <div class="card-footer">
            <small class="card-footer-itme">{{ dateFormat "January 2 - 2006" .Date }}</small>
        </div>
    </div>
</div>

