
<div class="column">
    
    <div class="card card-color" >
      
        {{ if .Params.image   }}
        <div class="card-imag">
            
            <img src="/{{ .Params.image | absURL }}" class="imagen-proyecto" alt="img">
                
        </div>
        {{ end }}
        
        <div class="card-content">
            <h1 class="is-size-3">{{ .Title }}</h1>
            <div class="content ">
                <p>
                    {{ .Summary }}
                </p>
               
            </div>
            <a href="{{ .Permalink }}">Continuar</a>  
        </div>
        <div class="card-footer">
            <small class="card-footer-itme centrar">{{ dateFormat "January 2 - 2006" .Date }}</small>
        </div>
        
    </div>
    
    
</div>

<!--  -->
          
