<!DOCTYPE html>
<html class="general" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-ES{{ end }}">
    <meta charset="utf-8">
    <meta name="viewport" content="witdth=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fira+Code|Press+Start+2P|Source+Code+Pro&display=swap" rel="stylesheet"> 
   
    <link rel="stylesheet" href="/css/bulma.css" />
    <link rel="stylesheet" href="/css/custom.css"/>
    
  
    <body class="">
        
        <div class="general">
            <br>
            <h1 class="title has-text-centered ">404</h1> 
            <h2 class="title has-text-centered ">Not found</h2>   
                    
            <div class="">
                <figure class="is-centered ">
                    
                    <a class="is-centered has-text-centered" href="/">  <img class="centrar" src="/img/coder128.png" width="512" height="512"alt="Brand"></a>
                    
                </figure>
            </div>
            <br>
            <a class="is-centered " href="/"><h1 class=" is-centered title has-text-centered">Home</h1> </a>     
                    

        </div>
        <div class="alpie">
           
        </div>
        
        <div class="alpie"></div>      

      
            
        
        
    <div class=""></div>   
    </body>

        
</html>