{{ define "main" }}
<div role="main" class=" section">
    <div class=" columns ">
      <div class="column is-2">
              
      </div>
      
      <div class="column is-8 " >
          <div class=" ">
          <div class=" column ">
              <h3 class="title is-3 has-text-centered">Últimos Proyectos</h3>
          </div>
          </div>
          <div class="column"></div>
          <!-- Proy -->
          <div class="columns">
            
            <!-- render preview list of projects -->
            {{ range  first 2 (where .Site.RegularPages "Section" "projects") }}
              {{ partial "projectPreview.html" . }}
            {{end}}
            
          </div>
          <div class="has-text-centered ">
            <a class="" href="/projects/"><span class="">... más</span></a>
            <br>
          </div>
          
          <!-- Post prevw -->
          <div class="negro">
          <div class="column  ">
              <h3 class="title is-3 has-text-centered">Últimas Entradas</h3>
            
          </div>
          
        </div>
        <!-- render preview list of projects -->
        {{ range  first 5 (where .Site.RegularPages "Section" "posts") }}
        {{ partial "postPreview.html" . }}
        {{end}}
        <div class="has-text-centered">
          <a class="" href="/posts/"><span class="">... más</span></a>
          <br>
        </div>
          <div class="column"></div>
          <div class="columns">
            {{ range  (where .Site.RegularPages "Type" "recommended") }}
              {{ partial "recommended.html" . }}
            {{end}}     
    
          </div>
        
      </div>
      
      
      
    </div>



</div>
{{ end }}